.questionDetail .modal {
    display: inline-block;
}
.questionDetail .closeModal {
    display: none;
}
.questionDetail .modalWrapper {
    margin: 0;
    overflow-y: initial !important; 
}
.questionDetail .contentWrapper {
    border-radius:0;
    box-shadow: 0 5px 15px rgba(0,0,0,0);
}
.questionDetail .modalCont {
    height: 620px;
    overflow-y: auto;
}
.questionDetail .headingTitle {
    font-size: 18px;
}
.questionDetail #question-title {
    text-decoration: underline;
    font-size: 17px;
    font-weight:bold;
    margin-bottom: 10px;
}
.questionDetail .answers-title {
    font-weight: bold;
    font-size:17px;
    margin-right: 10px;
    text-decoration: underline;
}
.questionDetail .answer-link{
    font-style: italic;
    color: #000;
    margin-top: 8px;
}
.questionDetail .like-answer{
    font-style: italic;
    text-decoration: underline;
    color: #000;
    margin-top: 8px;
}
.questionDetail .question-withanswer {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
}
.questionDetail .modalWrapper {
    width: auto;
}
.questionDetail .headerCont {
    border:1px solid #3b5998;
    background-color: #3b5998;
    height: 55px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
}
.questionDetail .answer-post-title {
    font-size:17px;
    font-weight:bold;
    margin-bottom: 20px;
}
.questionDetail .answer-post-main {
    margin-top:20px;
}
.questionDetail #answer-post-desc textarea {
    width: 100%;
    border: 1px solid #428bca;
    margin-bottom:10px; 
    padding: 15px;
}
.questionDetail .answer-post-title {
    margin-bottom: 20px;
}