<div class="questions-wrapper">
  <section class="clearfix" *ngFor="let i of questions.questions | searchfilter:searchInput" (click)="openQuestionDetail(i)"> 
    <div id="question-title">{{i.title}}</div>
    <p id="question-description">
      {{i.description}}
    </p>
    <div class="pull-right">
      <label>Likes</label> <span>3</span>
      <label>Answers</label><span>{{i['answers'].length}}</span>
    </div>
  </section>
  <app-question-detail [selectedQuestion]="selectedQuestion" *ngIf="toggleModal"></app-question-detail>
</div>