
/* search */
.search {
    background-color: #F8F8F8;
    padding:5px;
}
 .search input[type="text"] {
    border-radius: 5px;
    width:100%;
    outline: none;
    border:none;
    background-color: #D3D3D3;
    padding: 10px;
} 

.search input[type="text"]::-webkit-input-placeholder {
    text-align: center;
    background-image: url(../../assets/images/search.png);
    background-position: 94px center;
    background-repeat: no-repeat;
    background-size: 22px;
    border: 1px solid #ccc;
    padding: 10px 5px 10px 20px;
    text-indent: 20px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 2s;
    transition: all 0.2s;
}
:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}
