<div class="ask-a-question-wrapper">
   <section>
      <div id="title-content">
        <input type="text" #title placeholder="Title">
         <!-- <textarea id="title-content">
         </textarea> -->
         <!-- <div contenteditable="true"></div> -->
      </div>
      <div id="desc-content">
         <textarea #descContent rows="8" cols="50" autofocus placeholder="Description" >
         </textarea>
      </div>
      <div class="ask-tags">
         Tags
         <div class="">
            <input  type="checkbox" checked="">
            <label >
            Me too
            </label>
         </div>
         <div class="">
            <input  type="checkbox" checked="">
            <label >
            Me too
            </label>
         </div>
         <div class="">
            <input type="checkbox" checked="">
            <label >
            Me too
            </label>
         </div>
      </div>
        <div class="submit-question"><button type="submit" class="btn btn-primary" #submitQuestion>Submit</button></div>
   </section>
</div>