<div class="loginModule">
  <div class="container">
    <h1>Login</h1>
    <form [formGroup]='loginForm' (ngSubmit)="onSubmit(loginForm.value)">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" required formControlName='username'>
      </div>
      <div></div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" required formControlName='password'>
      </div>
      <p class="alert alert-danger" [hidden]='showError'>
        Username or Password mistach
      </p>
      <div class="text-center">
        <button type="submit" class="btn btn-primary" [disabled]='!loginForm.valid'>Submit</button>
        <div class="regLink">
          <a (click)="redirectToRegister()" class="registerLink">Register User</a>
        </div>
      </div>
    </form>
  </div>
</div>