<div class="ask-a-question-wrapper">
  <div [hidden]="!showSuccess">
    <p class="alert alert-success">Question Saved successfully</p>
  </div>
  <form [formGroup]='askQuestionForm' (ngSubmit)="onSubmit(askQuestionForm.value)">
    <section>
      <div id="title-content">
        <input type="text" #title placeholder="Title" formControlName='title'>
      </div>
      <div id="desc-content">
        <textarea #descContent rows="8" cols="50" autofocus placeholder="Description" formControlName='description'>
         </textarea>
      </div>
      <div class="ask-tags">
        <div class="askQues-title">Tags</div>
        <div class="round">
          <input type="checkbox" id="tag1" formControlName='tag1' />HTML
          <label for="tag1"></label>
        </div>
        <div class="round">
          <input type="checkbox" id="tag2" formControlName='tag2' />CSS
          <label for="tag2"></label>
        </div>
        <div class="round">
          <input type="checkbox" id="tag3" formControlName='tag3' />Javascript
          <label for="tag3"></label>
        </div>
      </div>
      <div class="submit-question"><button type="submit" class="btn btn-primary" #submitQuestion>Submit</button></div>
    </section>
  </form>
</div>