.ask-a-question-wrapper {
    margin-top: 35px;
}
.ask-a-question-wrapper #title-content input[type="text"],
.ask-a-question-wrapper #desc-content textarea {
    width: 100%;
    border: 1px solid #428bca;
    margin-bottom:10px; 
    padding: 15px;
}
.ask-a-question-wrapper #title-content input[type="text"]::-webkit-input-placeholder,
.ask-a-question-wrapper #desc-content textarea {
    text-align: left;
}
.submit-question {
    text-align: center;
}
.ask-a-question-wrapper  .submit-question button {
    margin: 0 auto;
    width:40%;
}
.ask-tags {
    font-size:17px;
}
.askQues-title {
    font-size:17px;
    margin-bottom: 15px; 
    font-weight: bold;
}
.round {
    position: relative;
    margin-bottom: 25px;
  }
  
  .round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 8px;
    position: absolute;
    top: 0;
    width: 28px;
  }
  
  .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
  }
  
  .round input[type="checkbox"] {
    visibility: hidden;
    margin-right:35px;
  }
  
  .round input[type="checkbox"]:checked + label {
    background-color: #337ab7;
    border-color: #337ab7;
  }
  
  .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }