<div class="dashboard-wrapper">
  <nav class="navbar navbar-default">
    <div class="dashboard-links clearfix">
      <ul class="row">
        <li class="pull-left col-xs-4 question-link" routerLinkActive='active'><a [routerLink]="['questions']">Questions <span class="sr-only">(current)</span></a></li>
        <li  class="pull-left col-xs-4 myquestion-link" routerLinkActive='active'><a [routerLink]="['myQuestions']">My Questions</a></li>
        <li  class="pull-left col-xs-4 askAquestion-link" routerLinkActive='active'><a [routerLink]="['askAQuestion']">Ask A Question</a></li>
      </ul>
    </div>
  </nav>
</div>