<div class="dashboard-wrapper">
  <nav class="navbar navbar-default">
    <div class="dashboard-links clearfix">
      <ul class="row">
        <li class="pull-left col-xs-4 question-link" routerLinkActive='active' [routerLink]="['questions']"><a>Questions <span class="sr-only">(current)</span></a></li>
        <li  class="pull-left col-xs-4 myquestion-link" routerLinkActive='active' [routerLink]="['myQuestions']"><a >My Questions</a></li>
        <li  class="pull-left col-xs-4 askAquestion-link" routerLinkActive='active' [routerLink]="['askAQuestion']"><a >Ask A Question</a></li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>