<div class="registerModule">
  <div class="container">
    <h1>Register</h1>
    <div [hidden]="!hideForm" class="clearfix">
      <div class="loginLink">
        <a (click)="redirectToLogin()">Login</a>
      </div>
      <div class="alert alert-success text-center">
        Successfully Registerd
      </div>
    </div>
    <div [hidden]="!hideErr">
      <div class="alert alert-danger">
        Registration Unsuccesful
      </div>
    </div>
    <div>
      <form [formGroup]='registerForm' (ngSubmit)="onSubmit(registerForm.value)">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" placeholder="Username" name="username" required formControlName='username'>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" placeholder="Password" id="password" name="password" required formControlName='password'>
        </div>
        <p>Tags</p>
        <div>
          <input type="checkbox" formControlName='tag1' />HTML
        </div>
        <div>
          <input type="checkbox" formControlName='tag2' />CSS
        </div>
        <div>
          <input type="checkbox" formControlName='tag3' />Javascript
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary" [disabled]='!registerForm.valid'>Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>